* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
body .background_start {
  position: relative;
  background: url("../component/background_Start.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 911px;
  overflow: hidden;
}
body .background_start .title {
  position: absolute;
  font-family: Pixelate;
  font-weight: bold;
  font-size: 100px;
  top: 50px;
  left: 100px;
  display: flex;
  flex-wrap: nowrap;
  gap: -10px;
  width: 500px;
}
body .background_start .title p {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #fff;
}
body .background_start .bird {
  position: absolute;
  background: url("../component/yellowbird-upflap.png") no-repeat;
  scale: 2;
  width: 100%;
  height: 100%;
  top: 800px;
  left: 2000px;
}
body .background_start .btn {
  display: flex;
  background-color: rgb(224, 97, 26);
  border: 5px solid #fff;
  width: 300px;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 10px #746214;
  transition: 0.5s;
}
body .background_start .btn:hover i {
  color: #fff;
  font-size: 60px;
  margin-left: 50%;
}
body .background_start .btn:hover p {
  opacity: 0;
}
body .background_start .btn i {
  color: #fff;
  font-size: 40px;
  transition: 0.1s;
}
body .background_start .btn p {
  margin-top: 15px;
  font-family: Font_pixel;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  opacity: 1;
  transition: 0.1s;
}
body .background_start .btn:active {
  background-color: rgb(224, 97, 26);
  border: 5px solid #fff;
  transition: 0.1s ease-in-out;
}
body .background_start .btnPlay {
  position: absolute;
  left: 200px;
  top: 200px;
}
body .background_start .btnPlay:active {
  top: 210px;
  box-shadow: 0 0;
}
body .background_start .btnSetting {
  position: absolute;
  left: 200px;
  top: 350px;
}
body .background_start .btnSetting:active {
  top: 360px;
  box-shadow: 0 0;
}
body .background_start .btnFB {
  position: absolute;
  left: 200px;
  top: 500px;
}
body .background_start .btnFB:active {
  top: 510px;
  box-shadow: 0 0;
}
body .background_start .btnDN {
  position: absolute;
  left: 200px;
  top: 650px;
}
body .background_start .btnDN:active {
  top: 660px;
  box-shadow: 0 0;
}
body .background_start .text_typing {
  position: absolute;
  left: 50%;
  top: 700px;
  text-shadow: 0 0 10px #0ba017;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  color: #0ba017;
  animation: textTyping 4s steps(80) 1s backwards infinite alternate;
}
body .background_start .showDNHidden {
  display: none;
}
body .background_start .showDNHidden.showDNShow {
  display: block;
  position: absolute;
  z-index: 10;
  top: 200px;
  border: 5px solid #fff;
  left: 700px;
  background-color: rgb(224, 97, 26);
  width: 800px;
  height: 550px;
  animation: appear 1s;
}
body .background_start .showDNHidden.showDNShow img.QR {
  width: 400px;
  height: 400px;
  float: right;
  margin-right: 50px;
  margin-top: 100px;
}
body .background_start .showDNHidden.showDNShow .text_intro {
  float: right;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  margin-right: -50px;
}
body .background_start .showDNHidden.showDNShow .info {
  position: absolute;
  color: #fff;
  font-size: 30px;
  left: 30px;
  top: 25%;
}
body .background_start .floor1 {
  position: absolute;
  background: url("../component/floor.png");
  scale: 1;
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
}
body .background_start .floor2 {
  position: absolute;
  background: url("../component/floor.png");
  scale: 1;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 1920px;
}

@font-face {
  font-family: Font_pixel;
  src: url("../font/font-pixel.ttf");
}
@font-face {
  font-family: Pixelate;
  src: url("../font/Pixelate.ttf");
}
@keyframes textTyping {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 1000px;
  }
}
@keyframes appear {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}